:root {
    --black: #000;
    --white: #FFF;
    --primary: #F0EEEB;
    --secundary: #5A5444;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Cabin', sans-serif;
    font-size: 62.5%;
}

.fees-banner {
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    min-height: 50px;
    height: 100%;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    a {
        color: inherit;
    }
}

.container {
    margin: 0 10vw;
    height: 100%;
}

.heading {
    font-size: clamp(4rem, 5vw, 7rem);
}

.paragraph {
    font-size: clamp(1.6rem, 2vw, 2rem);
    color: var(--secundary);
}

.input {
    border: 1px solid #5A544488;    
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 15px 20px;
}

.input::placeholder {
    color: #5A544488;
}

.btn {
    border: 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
}

.header {
    height: 80vh;
    padding: 30px 0;
    background-color: var(--primary);
}

.header-content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    height: 10%;
    &__logo {
        font-size: 2rem;
        font-weight: bold;
        user-select: none;
        color: var(--black);
    }
    &__links {
        ul {
            display: flex;
            justify-content: space-evenly;
            list-style: none;
        }
        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: var(--black);
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        width: 100%;
        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: var(--black);
        }
        .btn {
            color: var(--white);
        }
    }
}

.hero {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    // justify-items: end;
    display: flex;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    height: 80%;
    &__content {
        display: inherit;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
        max-width: 800px;
        height: 100%;
        width: 100%;
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        li {
            display: inherit;
            align-items: center;
            column-gap: 20px;
            i {
                height: 2.5rem;
                width: 2.5rem;
                background-image: url('/src/assets/checkmark.svg');
                background-size: cover;
            }
            p {
                font-weight: bold;
            }
        }
    }
    &__form {
        display: flex;
        column-gap: 20px;
    }
    &__image {
        // max-width: 500px;
        min-width: 250px;
        width: 100%;
        max-height: 62vh;
        object-fit: cover;
    }
}