:root {
    --black: #000;
    --white: #FFF;
    --primary: #F0EEEB;
    --secundary: #5A5444;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Cabin', sans-serif;
    font-size: 62.5%;
}

ul {
    list-style: none;
}

.fees-banner {
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    min-height: 50px;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    a {
        color: inherit;
    }
}

.container {
    margin: 0 auto;
    padding: 0 30px;
    height: 100%;
    max-width: 1440px;
}

.heading {
    font-size: clamp(3rem, 5vw, 6rem);
}

.subtitle {
    font-size: clamp(2.8rem, 4vw, 4.8rem);
}

.paragraph {
    font-size: clamp(1.4rem, 2vw, 2.2rem);
    color: var(--secundary);
    &--white {
        @extend .paragraph;
        color: var(--white);
    }
    &--footer {
        font-size: clamp(1.2rem, 2vw, 1.8rem);
        color: #F0EEEB88;
    }
}

.input {
    @extend .paragraph;
    border: 1px solid #5A544488;    
    border-radius: 5px;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 15px 20px;
    min-width: 80px;
    width: 100%;
    max-width: max-content;
}

.input::placeholder {
    color: #5A544488;
}

.btn {
    @extend .paragraph;
    border: 1px solid var(--black);
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.6rem;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    max-width: max-content;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    user-select: none;
    color: var(--black);
    &--white {
        @extend .logo;
        color: var(--white);
    }
}

.header {
    height: 80vh;
    min-height: 800px;
    padding: 30px 0;
    background-color: var(--primary);
}

.header-content {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 50px;
    height: 10%;
    &__links {
        ul {
            display: flex;
            justify-content: space-evenly;
        }
        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: var(--black);
        }
    }
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        width: 100%;
        a {
            font-size: 1.6rem;
            text-decoration: none;
            color: var(--black);
        }
        .btn {
            color: var(--white);
        }
    }
    &__mobile {
        display: none;
        &__links {
            @extend .header-content__links;
            opacity: 0;
        }
        &__buttons {
            @extend .header-content__buttons;
            opacity: 0;
        }
    }
}

.hero {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    gap: 50px;
    height: 80%;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 30px;
        height: 100%;
        width: 100%;
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        li {
            display: inherit;
            align-items: center;
            column-gap: 20px;
            i {
                height: 2.5rem;
                width: 2.5rem;
                background-image: url('/src/assets/checkmark.svg');
                background-size: cover;
            }
            p {
                font-weight: bold;
            }
        }
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
    }
    &__image {
        width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 12px;
    }
    figure {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
        picture {
            @extend figure;
        }
    }
}

.main {
    width: 100%;
    &__social-media {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0;
    }
    &__social-icon {
        max-width: 100px;
        min-width: 50px;
        width: 100%;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
        column-gap: 50px;
        border-radius: 10px;
        place-items: center;
        padding: 0 7%;
        margin-bottom: 50px;
        background-color: var(--primary);
        &--bg-white {
            @extend .main__wrapper;
            background-color: var(--white);
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &:first-child {
            grid-column: 1 / 2;
            grid-row: 1 / 2; 
        }
    }
    &__link {
        font-size: 1.6rem;
        font-weight: bold;
        color: var(--secundary);
    }
    &__image-container {
        &:last-child {
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            align-self: end;
        }
    }
    &__image {
        width: 100%;
    }
}

.footer {
    background-color: var(--black);
    padding: 50px 0;
    &__container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 50px;
    }
    &__about {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &:first-child {
            min-width: 200px;
            max-width: 30%;
        }
    }
    &__title {
        @extend .paragraph--white;
        font-weight: bold;
    }
    &__link {
        @extend .paragraph--footer;
        text-decoration: none;
    }
}

@media screen and (max-width: 1440px) {
    .container {
        max-width: 1096px;
    }
}